.calc{
    height: 500px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen{
    height:100px;
    width: 380px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.disp{
    margin: 4px;
    font-size: 36px;
}

.buttons{
    width: 400px;
    display: flex;
    height: 380px;
}

.nums{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:290px;
    justify-content: center;
}

.operators{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:110px;
    justify-content: center;
}

.num, .equals, .dec{
    border: 1px solid black;
    height: 75px;
    width: 75px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oper, .clear{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num:hover, .oper:hover, .clear:hover, .equals:hover, .dec:hover{
    background-color: lightgrey;
}

.num:active, .oper:active, .clear:active, .equals:active, .dec:hover{
    background-color: grey;
}